
:root{
--hero-footer-background:#1F2937;
--call-to-action-button-color:#3882F6;
--quote-background: #E5E7EB;
--links-menu-header: #E5E7EB;
--hero-main-header-logo-color:#F9FAF8;
--information-quote-text-color:#1F2937;       
}

@font-face{
font-family: LuckiestGuy-Regular;sans-serif;
src: url(fonts/LuckiestGuy-Regular.ttf)
}


body{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

li{
    list-style: none;
}
.header-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: auto;
    height:13vh;
    background-color: var(--hero-footer-background);   
 }

.logo {
    text-decoration: none;
    margin-top: -12px;
    font-size: 24px;
    color: var(--hero-main-header-logo-color);
    }


 .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around; 
    margin-right: -15px;
} 

.menu a{
    list-style: none;
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 0px 10px;
    margin-left: 80px;
   }


.hero-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: auto;
    height:70vh;
    background-color: var(--hero-footer-background);
         }

 .hero-text{
    display: flex;
    flex-direction: column;
    margin: 5px;
    /* padding-right: 60px; */
       }


 .hero-text h1 {
    color: var(--hero-main-header-logo-color);
    font-size: 3em;
    font-weight:800; /*Extra Bold (Ultra Bold)*/
/* font-family:LuckiestGuy-Regular;sans-serif; */
} 

.hero-text p {
    color: var(--links-menu-header); /* #E5E7EB */
    /* font-family:LuckiestGuy-Regular;sans-serif; */
    } 

.hero-image{
    margin-left: -200px;
    margin-top: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
     }

.hero-image img{
    width: 400px;
     }

.sign-up{
    background-color: var(--call-to-action-button-color);
    color: white;
    padding: 7px 20px;
    border-radius: 8px;
    font-weight: bold;
    }

.sign-up-my-page{
    background-color: var(--call-to-action-button-color);
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
    font-weight: bold;
    margin-left: 20px;
        }



.info{
    text-align: center;
    font-weight: 36px;
    font-weight:800; /*Extra Bold (Ultra Bold)*/
    color: #1F2937;
}

.illustrations-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

 .illustrations {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

  .illustrations-text {
    text-align: center;
 }

blockquote  {
    margin: 20px -40px;
    padding: 100px;
    background: #E5E7EB;
    height: 30vh;
    width: auto;
    font-size:36px;
    text-align: center;
    font-style: italic;
    color: #1F2937;
    }


blockquote p{
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
            }

blockquote cite {
    margin-left: 40%;
    }      

.call-to-action h3{
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: center;
   color: #E5E7EB;
}

.call-to-action p{
    margin-top: -20px;
    color: #E5E7EB;
}


.call-to-action-container{
    background-color: #3882F6;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 30px 50px;
    margin-left: 10%;
    margin-bottom: 20px;;
    border-radius: 10px;
     width: 70vw;; */
   }   

 .sign-up-action {
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 30px;
    margin-top: 30px;
    background-color: var(--call-to-action-button-color);
   }

a .sign-up-action{
    color: #F9FAF8;
}


.footer-section{
    background-color: var(--hero-footer-background);
    padding: 30px;

}

 .footer-section p{
    text-align: center;
    color: #E5E7EB;
}


.sign-up-action-my{
    background-color: var(--call-to-action-button-color);
    color: black;
    padding: 15px 30px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.copyright{ 
    text-decoration: none;
    color: #E5E7EB;
}
